{% load static social_tags cache %}

{% cache 5000 sidebar %}
  <div class="col-lg-4 col-md-4">
    <div class="sidebar__item">
      <div class="sidebar__about__item">
        <div class="sidebar__item__title">
          <h6>About me</h6>
        </div>
        {% get_about as about %}
        <img src="{{ about.get_first_image }}" alt="{{ about.get_first_image.alt }}">
        <h6>Hi every one! I,m <span>{{ about.my_name }}</span></h6>
        <p>{{ about.mini_text }}</p>
        <a href="{% url 'about' %}" class="primary-btn">Read more</a>
      </div>
      <div class="sidebar__follow__item">
        <div class="sidebar__item__title">
          <h6>Follow me</h6>
        </div>
        <div class="sidebar__item__follow__links">
          {% get_social_tags as social_links %}
          {% for item in social_links %}
            <a href="{{ item.link }}"><img
                    src="{{ item.icon.url }}"></img></a>
          {% endfor %}
        </div>
      </div>
      <div class="sidebar__feature__item">
        <div class="sidebar__item__title">
          <h6>Feature Posts</h6>
        </div>
        <div class="sidebar__feature__item__large set-bg"
             data-setbg="img/sidebar/feature-post.jpg">
          <div class="sidebar__feature__item__large--text">
            <span>Dinner</span>
            <h5><a href="#">This Japanese Way of Making Iced Coffee
              Is a Game...</a>
            </h5>
          </div>
        </div>
        <div class="sidebar__feature__item__list">
          <div class="sidebar__feature__item__list__single">
            <div class="post__meta">
              <h4>08</h4>
              <span>Aug</span>
            </div>
            <div class="post__text">
              <span>Dinner</span>
              <h5><a href="#">Grilled Potato and Green Bean
                Salad</a></h5>
            </div>
          </div>
          <div class="sidebar__feature__item__list__single">
            <div class="post__meta">
              <h4>05</h4>
              <span>Aug</span>
            </div>
            <div class="post__text">
              <span>Smoothie</span>
              <h5><a href="#">The $8 French Rosé I Buy in Bulk
                Every Summer</a></h5>
            </div>
          </div>
          <div class="sidebar__feature__item__list__single">
            <div class="post__meta">
              <h4>26</h4>
              <span>jul</span>
            </div>
            <div class="post__text">
              <span>Desert</span>
              <h5><a href="#">Ina Garten's Skillet-Roasted Lemon
                Chicken</a></h5>
            </div>
          </div>
          <div class="sidebar__feature__item__list__single">
            <div class="post__meta">
              <h4>16</h4>
              <span>jul</span>
            </div>
            <div class="post__text">
              <span>Vegan</span>
              <h5><a href="#">The Best Weeknight Baked Potatoes, 3
                Creative Ways</a>
              </h5>
            </div>
          </div>
        </div>
      </div>
      <div class="sidebar__item__banner">
        <img src="{% static 'img/sidebar/banner.jpg' %}" alt="">
      </div>
      <div class="sidebar__item__categories">
        <div class="sidebar__item__title">
          <h6>Categories</h6>
        </div>

        {% include './sidebar_category.html' %}

      </div>
      <div class="sidebar__subscribe__item">
        <div class="sidebar__item__title">
          <h6>Subscribe</h6>
        </div>
        <p>Subscribe to our newsletter and get our newest updates right
          on your inbox.</p>
        <form action="#">
          <input type="text" class="email-input"
                 placeholder="Your email">
          <label for="s-agree-check">
            I agree to the terms & conditions
            <input type="checkbox" id="s-agree-check">
            <span class="checkmark"></span>
          </label>
          <button type="submit" class="site-btn">Subscribe</button>
        </form>
      </div>
    </div>
  </div>
{% endcache %}